*{
    block-size: border-box;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background: green;
    border: 1px solid;
    padding: 10px;
}
.block_yellow {
    width: 70%;
    padding: 10px;
    margin: 10px;
    background: yellow;
    border: 1px solid;
    min-height: 150px;
}
.block_yellow:nth-child(2) {
    width: 20%;
}
.block_yellow:nth-child(3) {
    width: 20%;
}
.block_blue {
    width: 50%;
    background: blue;
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    min-height: 150px;
}
.block_pink {
    background: pink ;
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    min-height: 150px;
}
.d-flex{
    display: flex;
    flex-direction: row;
}
.wrap{
    flex-wrap: wrap;
}
@media (max-width: 540px) {
    .block {
        min-width: 95%;
    }
}

/* Стили для вертикальной ориентации экрана */
@media only screen and (orientation: portrait) {

    .block {
        min-height: 150px;
    }
}

/* Стили для горизонтальной ориентации экрана */
@media only screen and (orientation: landscape) {

    .block {
        min-height: 400px;
    }
}